body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-left: 8px;
  padding-right: 8px;
}

.title {
  background: #e3f4ff;
  border-top: 8px solid #fff;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
  padding: 8px;
}

button {
  background: white;
  margin: auto;
  display: block;
  border: 1px solid #eee;
  padding: 8px 24px;
}
